.hidden_elt{
	display: none;
}

#slot_duration_view{
	line-height: 20px;
	padding: 7px 13px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.levelbox_spot{
	background:#3399ff; 
	width:40%; height:45px; 
	border: 1px solid #0a1e33;
}